.navbar {
  &__list {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    list-style: none;
    font-family: sans-serif;
  }
  &__item {
    margin: 0 10px;
  }
  &__link {
    display: block;
    padding: 13px 20px;
    color: white;
    text-decoration: none;
  }
}
